
{{#if devoured}}
<li class="list-group-item">
	{{id}}. {{burger_name}}
	<button type="button" class="btn eatBtn btn-danger float-right" data-id="{{id}}" data-status="{{devoured}}">
		Yum!
	</button>
	</li>
	{{else}}
	<li class="list-group-item disabled">
	{{id}}. {{burger_name}}
	</li>
{{/if}}

